    <!-- Sessão footer -->
    <footer>
        <span>Padrão de projeto MVC | Tecnologias utilizadas <a href="">| HTML | CSS | JS | CDNJS | UNPKG</a> | Portfólio Pessoal 2022</span>
    </footer>
    
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script> <!-- Máquina de escrever - cdnj.com --> 
    <script src="./assets/js/bundle.js"></script>
</body>
</html>