<%- include('includes/head'); %> <!-- Add dados da pasta include(head) -->

<!-- Home início -->
<section class="home" id="home">
    <div class="nax-width">
        <div class="home-content">
            <div class="text-1 t">Olá, meu nome é</div>
            <div class="text-2 t">Rodrigo Corte Real</div>
            <div class="text-3 t">eu sou <span class="typing"></span></div>
            <a href="#contac">Contratar-me</a>
        </div>
    </div>
</section>

<!-- Sessão sobre -->
<section class="about" id="about" data-anime="bottom">
    <div class="nax-width">
        <h2 class="title">Sobre</h2>
        <div class="about-content">
            <div class="column left">
                <div class="imgs"></div>
                <img src="./assets/js/d0315f79d68abe5fc2c5.jpg" alt="">
            </div>
            <div class="column right">
                <div class="text">Sou Rodrigo, <span class="typing-2"></span></div>
                <p>&nbsp; Ao longo da vida trabalhei em algumas áreas distintas, porém nunca me identifiquei com nenhuma delas, contudo, isso ajudou a construiu o meu caráter, e sou muito grato por isso.
                    Desde pequeno, sempre gostei de saber como as coisas funcionam, gostava de abrir, modificar, melhorar. Quando conheci a área da programação, me despertou muita curiosidade, a vontade de querer saber cada vez mais, foi então que iniciei um curso de Python no Senac. Tive um aprendizado muito bom na área, e adquiri o certificado de Python, HTML e CSS.</p>
                <br>
                <p>&nbsp; Há alguns meses comecei a estudar Java script (curso Udemy). Fiquei apaixonado pela linguagem, achei ela muito poderosa. Já estou bem adiantado no curso, e me impressionando cada vez mais com a linguagem.
                    Ainda não tive experiência profissional na área, porém, tenho muita vontade de aprender. Possuo o hábito de deixar tudo o que faço mais fácil, prático e intuitivo, por isso me identifiquei tanto com a programação.</p>
                <a href="../document/curriculo.pdf" download="Currículo.pdf" type="application/pdf">Download CV</a>
            </div>
        </div>
    </div>
</section>

<!-- Sessão especialidade -->
<section class="skills" id="skills" data-anime="bottom">
    <div class="nax-width">
        <h2 class="title">Competência</h2>
        <div class="skills-content">
            <div class="column left">
                <div class="text">Minhas habilidades criativas e experências</div>
                <p>&nbsp;Essas estatísticas são com base no que venho estudando, não são percentuais concretos. Também estou familiarizado com outros frameworks, bibliotecas e banco de dados, algumas delas são. | Django | PyQt5 | Mysql | MongoDB | Entre outras.</p>
                <br>
                <p class="info">&nbsp;</p>
                <button class="mais-info">Mais informações</button>
            </div>
            <div class="column right">
                <div class="bars">
                    <div class="bars">
                        <div class="info">
                            <span>HTML</span>
                            <span>73%</span>
                        </div>
                        <div class="line html"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>CSS</span>
                            <span>67%</span>
                        </div>
                        <div class="line css"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>JavaScript</span>
                            <span>46%</span>
                        </div>
                        <div class="line js"></div>
                    </div>
                    <div class="bars">
                        <div class="info">
                            <span>Python</span>
                            <span>53%</span>
                        </div>
                        <div class="line py"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Sessão projeto -->
<section class="project projeto" id="project" data-anime="bottom">
    <div class="nax-width largura">
        <h2 class="title">Projeto</h2>
        <div class="container">
            <div class="img">
                <img src="./assets/js/17c5afb811eec62cade4.png" alt="" class="item height p1">
                <div class="d1">
                    <p>Projeto web visando criar uma dieta equilibrada com base no seu objetivo.<br>As tecnologias usadas foram | HTML | CSS | Python | JavaScript | Django | SQL.<br><br> <a href="https://github.com/CorteRealRodrigo/Projeto-integrador">Link do Git</a></p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/js/a551a2178a8de2fd053f.png" alt="" class="item p2">
                <div class="d2">
                    <p>Projeto visando criar uma dieta equilibrada com base em manter, ganhar ou perder gordura corporal.<br>As tecnologias usadas foram | HTML | CSS | Python | PyQt5 | SQL.<br>As tecnologias usadas foram | HTML | CSS | Python | JavaScript | Django | SQL.<br><br> <a href="https://github.com/CorteRealRodrigo/Projeto-com-QT-Design">Link do Git</a></p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/js/220b86eccc2ded934df9.png" alt="" class="item p3">
                <div class="d3">
                    <p><br><br> <a href="">Link do Git</a></p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/js/220b86eccc2ded934df9.png" alt="" class="item p4">
                <div class="d4">
                    <p><br><br> <a href="">Link do Git</a></p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/js/220b86eccc2ded934df9.png" alt="" class="item p5">
                <div class="d5">
                    <p><br><br> <a href="">Link do Git</a></p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/js/220b86eccc2ded934df9.png" alt="" class="item p6">
                <div class="d6">
                    <p><br><br> <a href="">Link do Git</a></p>
                </div>
            </div>
        </div>
        <div class="seeLess">
            <button class="see">Ver Mais</button>
        </div>
        <div class="seeLess">
            <a class="aBtn" href="https://github.com/CorteRealRodrigo?tab=repositories"><button class="btnRep">Repositório do GitHub</button></a>
        </div>
    </div>
</section>

<!-- Sessão contato -->
<section class="contact contato" id="contac" data-anime="bottom">
    <div class="nax-width">
        <h2 class="title">Contato</h2>
        <div class="contact-content">
            <div class="column left">
                <div class="text">Fale Comigo</div>
                <p>&nbsp;Me considero uma pessoa curiosa e muito persistente, portanto, consigo conquistar tudo o que desejo, tendo certeza que estarei dando o meu melhor na área em que for atuar.</p>
                <div class="icons">
                    <div class="div-left">
                        <div class="row">
                            <ion-icon name="person-outline"></ion-icon>
                            <div class="info">
                                <div class="head">Nome</div>
                                <div class="sub-title">Rodrigo Camara Corte Real Filho</div>
                            </div>
                        </div>
                        <div class="row">
                            <ion-icon name="earth-outline"></ion-icon>
                            <div class="info">
                                <div class="head">Endereço</div>
                                <div class="sub-title">Santa Catarina</div>
                            </div>
                        </div>
                        <div class="row">
                            <ion-icon name="mail-outline"></ion-icon>
                            <div class="info">
                                <div class="head">Email</div>
                                <div class="sub-title">devrccr@gmail.com</div>
                            </div>
                        </div>
                    </div>
                    <div class="div-right">
                        <div class="row">
                            <ion-icon name="logo-linkedin"></ion-icon>
                            <div class="info">
                                <div class="head">Linkedin</div>
                                <a href="https://www.linkedin.com/in/rodrigo-corte-real-b5640023b/">
                                    <div class="sub-title">Rodrigo Corte Real</div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <ion-icon name="logo-github"></ion-icon>
                            <div class="info">
                                <div class="head">GitHub</div>
                                <a href="https://github.com/CorteRealRodrigo">
                                    <div class="sub-title">CorteRealRodrigo</div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <ion-icon name="logo-instagram"></ion-icon>
                            <div class="info">
                                <div class="head">Instagram</div>
                                <a href="">
                                    <div class="sub-title">CorteRealRodrigo</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column right">
                <div class="text">Mensagem</div>
                <!--  Sessão alerta -->
                <%- include('includes/messages'); %>
                <form class="form" action="/" method="post" id="oferta">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>"> <!-- Para o form ter a senha de envio csrf para enviar o formulério -->
                    <div class="fields">
                        <div class="field name">
                            <input name="nomeEmpresa" type="text" placeholder="Nome Da Empresa" required>
                        </div>
                        <div class="field email">
                            <input name="email" type="email" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="field">
                        <div class="field sobrenome">
                            <input name="cargo" type="text" placeholder="Cargo" required>
                        </div>
                        <div class="field textarea">
                            <textarea name="descricao" cols="30" rows="100" placeholder="Descrição da vaga...." required></textarea>
                        </div>
                        <div class="button">
                            <button type="submit">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<%- include('includes/footer'); %> <!-- Add dados da pasta include(footer) -->
